<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/Style.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="http://localhost:8080/dashboard" class="navbar-brand">Home</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a href="http://localhost:8080/sign" class="nav-item active nav-link">Sign up</a>
            <a href="http://localhost:8080/Setting" class="nav item active nav-link">Setting</a>
            <a href="http://localhost:8080/" class="nav item active nav-link">logout</a>

        </ul>

        <form action="#" method="post" class="form-inline my-2 mylg-0">
            <input type="search" name="buscar" id="buscar" class="form-control mr-sm-2" placeholder="Type your question here" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <p class="h2 text-center">Login Form</p>


    <form action="/login" method="post">
        <div class="preview text-center">
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" id="email" type="email" name="email" onkeyup="Validate_email()" placeholder="Enter email"/>
            <p id ="emailErr" style="color:  red"></p>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input class="form-control" id="password" type="password" name="password" onkeyup="Validate_password()" placeholder="Enter Password"/>
            <p id ="passwordErr" style="color:  red"></p>
        </div>

        <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" value="Submit"/>
        </div>
        <div th:if="${error}" style="color:  red">
            <p th:text="${error}"></p>
        </div>
    </form>
</div>

<script>
    function Validate_email() {
        var email = document.getElementById("email").value;

        if (email === "") {
            document.getElementById("emailErr").innerHTML = "Please enter an email address";
        } else {
            document.getElementById("emailErr").innerHTML = "";
        }
    }

    function Validate_password() {
        var password = document.getElementById("password").value;

        if (password === "") {
            document.getElementById("passwordErr").innerHTML = "Please enter a password";
        } else {
            document.getElementById("passwordErr").innerHTML = "";
        }
    }
</script>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>